// Base styling
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-home {
	width: 3.5em !important;
	margin: 0;
}

.ui.menu {
	margin: 0;
	padding: 10px 20px;
}

.DateInput * {
	cursor: pointer;
}

.splash-background {
	background: linear-gradient(to top right, rgba(250,97,241,0.4), rgba(28,188,247,0.4)), url('../public/hero.png') no-repeat fixed center center;
	background-position: 95% 50%;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&:before {
		content:'';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.4)
	}
}

.splash-text {
	margin-left: 10%;
	z-index: 0;
}

.headline {
	font-size: 3em;
}
