// Base styling
body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
  max-width: 700px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-home {
	width: 3.5em !important;
	margin: 0;
}

.DateInput * {
	cursor: pointer;
}
