// Base styling
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(to top right, rgba(250,97,241,0.1), rgba(28,188,247,0.1)) no-repeat fixed center center;
}

.wrapper {
  max-width: 80%;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 200px);
	justify-content: center;
  margin: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-home {
	width: 3.5em !important;
	margin: 0;
}

.ui.menu {
	margin: 0;
	padding: 10px 20px;
}

.DateInput * {
	cursor: pointer;
}

.splash-background {
	background: linear-gradient(to top right, rgba(250,97,241,0.4), rgba(28,188,247,0.4)), url('../public/hero.png') no-repeat fixed center center;
	background-position: 95% 50%;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&:before {
		content:'';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.4)
	}
}

.splash-text {
	margin-left: 10%;
	z-index: 0;
}

.headline {
	font-size: 3em;
}

.subtitle {
  margin-top: -20px;
  font-size: 2em;
}

.ui.form {
	padding: 30px;
}

.SingleDatePickerInput {
	border: 0 !important;
}

// Overwrite DateInput styling
.DateInput {
	font-size: 1rem !important;
	background: 0 0!important;
	color: rgba(0,0,0,.6)!important;
	font-weight: 400;
	border-radius: .28571429rem;
	box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  vertical-align: baseline;
  background: #E0E1E2;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: 6px !important;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;

	&__display-text {
		padding: 0 !important;
	}

	&__display-text--focused {
		background: none !important;
    border: none !important;
    color: inherit !important;
	}

	&:active {
		background: #F8F8F8!important;
    color: rgba(0,0,0,.9)!important;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 1px 4px 0 rgba(34,36,38,.15) inset;
	}

	&:focus {
		background: #FFF!important;
    color: rgba(0,0,0,.8)!important;
    box-shadow: 0 0 0 1px rgba(34,36,38,.35) inset, 0 0 0 0 rgba(34,36,38,.15) inset;
	}
}

.ui.basic.label {
	font-weight: normal;
}

.ui.labeled.input {
	width: auto !important;

	input[type=text] {
		width: 40px !important;
		text-align: center;
		padding: 0;
	}
}

input[type=time] {
  width: auto !important;
}

.intervalTable, .intervalTime {
  display: inline-block;
  margin-right: 20px;
}

.ui.compact.selection.dropdown {
	border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

td {
  padding: 0 7px;
  text-align: center;
}

.align {
  display: flex;
}

.or {
  z-index: 0 !important;
}

.ui.celled.table {
  align-self: center;
}

.form-limit {
  max-width: 500px;
}

.field {
  margin: 0 0 2em !important;
}
